{% load static %}

<!DOCTYPE html>

<html lang="en" translate="no">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Other Realms Comics and Books</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
    </head>
    <body>
        <div id="main-container">
            <div id="banner">
                <div id="banner-container">
                    <img id="gunther-banner" src="{% static 'images/gunther_invis.png' %}">
                    <img id='banner-name' src="{% static 'images/banner.png' %}">
                </div>
            </div>
            <hr>
            <div id="navbar">
                <h1 class="nav-item" name="home">Home</h1>
                <h1 class="nav-item" name="calendar">Event Calendar</h1>
                <h1 class="nav-item" name="shop"><a href="#">Shop</a></h1>
                <h1 class="nav-item" name="contact">Contact</h1>
            </div>
            <hr>

            <div id="content-container">
                <div id="post-container">
                    {% for post in posts %}
                        <div class="post">
                            <h1 class="post-title">{{ post.post_title }}</h1>
                            {% if post.post_image %}
                                <img class="post-image" src='{{ post.post_image.url }}'>
                            {% endif %}
                            <p class="post-content">{{ post.post_content }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div id="link-container">
                    <!-- Links should probably be hardcoded in? -->
                    {% for image_link in image_links %}
                        <img class="link-image" src="{{ image_link.img.url }}">
                    {% endfor %}
                </div>
            </div>
            <div id="calendar-container">
                <h1 id="current-month"></h1>
                <div id="calendar-header">
                    <p>Sunday</p>
                    <p>Monday</p>
                    <p>Tuesday</p>
                    <p>Wednesday</p>
                    <p>Thursday</p>
                    <p>Friday</p>
                    <p>Saturday</p>
                </div>
                <!-- <div id="calendar-event-modal">
                    <h1>Something here</h1>
                </div> -->
            </div>

            <div id="contact-container">
                <h1>Contact page goes here</h1>
                <h1>Add a form that sends an email to company</h1>
            </div>
        </div>
        
        {{ events|json_script:"events" }}
        <script>
            // Above tag works and is more safe, but below declared events also works, but not all the time
            // keeping original commented for psoterity
            const events = JSON.parse(document.getElementById('events').textContent)
            // let events = '{{ events|safe }}'
        </script>
        <script src="{% static '/js/main.js' %}"></script>
        <script src="{% static 'js/calendar.js' %}"></script>
    </body>
</html>