html, body {
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    color: white;
}

.test-class {
    border: 2px solid red;
    background-color: green;
}

.error-message {
    color: red;
}
/* Main body */

#store-container-main {
    display:flex;
}

.btn {
    border-radius: 5px;

}

#legal {
    position: fixed;
    /* bottom: 0xp; */
    margin-bottom: 0px;
    width: 100vw;
    background-color:rgb(49, 71, 83);
    text-align: center;
}

/* Navbar */
#header-div {
    display: flex;
    position: relative;
    width: 100%;
    padding: 25px;
    background-color:rgb(49, 71, 83)
}

.navbar-store-item {
    height: 100px;
}

.header-item {
    margin-left: 10px;
    margin-right: 10px;
}

.header-image-container {
    width: 150px;
    padding: 10px;
}

.sm-img-header {
    width: 100%;
    height: auto;
}

.navbar-search-container {
    position: relative;
    display: flex;
    width: 55vw;
}

.navbar-search {
    display: flex;
    position: absolute;
    width: 95%;
    height: 2rem;
    border-radius: 5px;
    margin-right: 0px;
    margin-top: 10px;
}

.search-btn {
    position: absolute;
    right:0px;
    width: 5%;
    justify-content: center;
    margin-left: 0px;
}

.header-user-container {
    display: flex;
    justify-content: flex-end;
    /* position: absolute; */
    width: 25vw;
    padding: 0px;
    margin-right: 5px;
}

.navbar-user {
    font-size: 14px;
    margin: 5px;
    margin-top: 15px;
    /* margin: 5px; */
    color: rgb(103, 143, 202)
}

.fa-shopping-cart {
    margin-top: 20px;
}

.navbar-user:hover, fa-shopping-cart:hover {
    color:slategray;
}
#storefront-navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(49, 71, 83);
    width: 100vw;
}

/* Nav-item shares with main.css */
.nav-item {
    margin-left: 30px;
    margin-right: 30px;
}

/* Banner */
#storefront-banner {
    text-align: center;
}


/* Login/Registration */

.login-registration {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    color: black;
    width: 50%;
    height: 70%;
    text-align: center;
    padding: 20px;
    align-items: center;
    border-radius: 2px;
}

.login-input {
    /* line-height: 3rem; */
    /* margin: auto; */
    margin-top: 15px;
    width: 70%;
    font-size: 28px;
}

.login-submit {
    margin-top: 15px;
    border-radius: 5px;
    background-color:rgb(71, 141, 212);
    font-size: 24px;
    color: white;
    width: 30%;
    height: 50px;
}
/* Storefront cards/items */

.store-specials {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: rgba(0,0,0, 0.2);
}

.scroll-chevron {
    margin: auto;
}

.scroll-chevron:hover {
    color: grey;
}

.container-store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-left: 20px solid slategray;
    border-right: 20px solid slategray
}

.product-card {
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    width: 400px;
    height: 400px;
    margin: 5px;
    /* background-color: slategray; */
    overflow: hidden;
    /* text-align: center; */
}

.special-card {
    width: 250px;
    height: auto;
    margin: 5px;
    text-align: center;
}

.sm-img {
    width: auto;
    height: 150px;
    margin: auto;
    display: block;
}

.product-card > p {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

.product-card:hover, .product-card-special:hover {
    background-color: rgba(0,0,0, 0.2);
}
.product-card-image {
    width: auto;
    height: 300px;
    margin: auto;
}

.card-sm {
    width: auto;
    height: 200px;
}

/* Product page */

#container-product {
    display: grid;
    width: 100vw;
    justify-content: center;
    grid-template-columns: 50% 20% 100px;
    grid-template-rows: auto 100px 100px;
    grid-gap: 20px 20px;
    padding: 25px;
    /* background-color: white; */
}

.lg-img {
    width: 100%;
    height: auto;
    /* margin-left: 20%; */
}

.product-image-container {
    width: 400px;
    height: auto;
}
.product-title {
    font-size: 24px;
    /* grid-column: 2/3; */
}

.product-price {
    font-size: 20px;
}

.product-btn-div {
    grid-column: 3/4;
    /* padding-top: 20px; */
}

.product-btn {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #ffd900;
}
.product-description {
    grid-column: 1/4;
}


/* User account */

.user-account-container {
    display:flex;
    flex-direction:column;
    text-align: center;
    padding: 30px;
}

.account-home {
    display: block;
    width: 100%;
}

.account-settings-container {
    display: none;

}

.settings-details {
    /* background-color: white; */
    background-color:rgb(49, 71, 83);
    display: flex;
    flex-direction:column;
    /* margin: auto; */
    padding: 20px;
    align-items: center;
}

.account-current-orders-container {
    display: none;
}

.account-archived-orders-container {
    display: none;
}

.account-wishlist-container {
    display: none;
}

.account-seller-container {
    display: none;
}

.account-details-container {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 15px;
    justify-content: center;
    padding: 10px;
}


.account-details-card {
    height: 130px;
    background-color: slategray;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(49, 71, 83);
}

.settings-card {
    position: relative;
    /* display: inline; */
    text-align: left;
    height: 100px;
    width: 50%;
    margin-top: 10px;
}

.account-edit-btn {
    position:absolute;
    right: 5px;
    background-color: grey;
    width: 100px;
    /* margin-right: 0px; */
}

.account-detail {
    display:flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.account-details-card:hover {
    background-color: white;
}

.settings-card:hover{
    background-color: slategray;
}
/* .account-settings-detail-card */
/* Orders */
.order-details {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    /* height: 500px; */
    padding: 30px;
    border-radius: 2px;
}

.current-order-details {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    background-color: green;
    width: 40%;
    box-shadow: 1px 1px rgb(49, 71, 83);
}

.order-history-details {
    width: 35%;
}

.order-history-list {
    /* text-align: center; */
}

.order-history-card {
    /* width: 150px; */
    width: 25vw; /* vw lets the div change size dynamically */
    /* height: 75px; */
    background-color: green;
    margin: auto;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px rgb(49, 71, 83);
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 5px;

}

.current-order-details:hover, .order-history-card:hover {
    background-color: slategray;
}

.user-account-settings {

}

.user-order-history {

}

.user-order-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    /* height: 30px; */
    background-color: red;
}


/* Shopping Cart */
.cart-totals-container {
    background-color: white;
    padding: 10px;
}

.cart-totals-headers {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr;
    border-bottom: 1px solid black;
}

.cart-totals-footer {
    grid-template-columns: 3fr 1fr 2fr 1fr;
}

.cart-item {
    /* width: 500px; */
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    /* background-color: green; */
    padding: 5px;
    /* height: 100px; */
}

.cart-item > p {
    /* margin: auto; */
    /* border: 1px solid black; */
}

.cart-item-details {
    /* display: inline; */
    display: flex;
    margin-left: 30px;
    /* justify-content:space-evenly; */
    /* width: 100%; */
}

.cart-item-details > p {
    margin-top: 20px;
    margin-left: 25px;
    /* margin-bottom: 5px; */
}

.cart-item-details > img {
    width: 75px;
    height: auto;
}

.confirm-btn {
    background-color: #ffd000;
    width: 100%;
    height: 100%;
}


/* Purchase/Checkout */

.checkout {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
}

.shipping-billing-forms {
    width: 60%;
}

.shipping-form {
    display: flex;
    flex-direction: column;
}

.shipping-form-input {
    margin: auto;
    width: 75%;
    margin-bottom: 2px;
    font-size: 24px;
}

.shipping-form-submit {
    /* width: 30%; */
    height: 30px;
    margin: auto;
}

.checkout-container {
    /* background-color: white; */
    /* height: auto; */
}
.checkout-orders {
    display: grid;
    /* grid-template-columns: 2fr 1fr 1fr 1fr; */
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 10px;
    /* grid-row-gap: 0px; */
    background-color: white;
    border-top: 1px solid black;
    padding: 10px;
}

.totals {
    border-top: 1px solid black;
}


.checkout-order-img {
    width: 50px;
    height: auto;
}

.checkout-btn {
    width: 50%;
    height: 35px;
    background-color: #ffd900;
}