{% extends 'otherrealms/layout.html' %}
{% load static %}

{% block body %}

<div id="container-index">
    <div class="jumbotron text-center">
        <div class="container main">
          <h1 class="display-4">Welcome to Other Realms!</h1>
          <p class="lead">Friendly neigborgood game and comic store!</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
      </div>
    </div>
</div>

<div id="container-frontpage-nav">
  <a href="#">
    <img  class="logo-link" src="{% static 'otherrealms/images/40k_logo.jpg' %}">
  </a>
  <a href="#">
    <img  class="logo-link" src="{% static 'otherrealms/images/mtg_logo.jpg' %}">
  </a>
  <a href="#">
    <img class="logo-link" src="{% static 'otherrealms/images/tabletop_logo.jpg' %}">
  </a>
  <a href="#">
    <img class="logo-link" src="{% static 'otherrealms/images/comics.jpg' %}">
  </a>
</div>
{% endblock %}

{% block script %}
{% endblock %}