/* Globals */
body {
    margin: 0px;
    background-color: slategray;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(183, 193, 208);
    /* color: black; */
}

hr {
    width: 80%;
    height: 2px;
    background-color: black;
    border: 0px;
}

a {
    text-decoration: none;
    color:rgb(183, 193, 208);
}

a:hover {
    color: grey;
}
/* Navbar */
#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(59, 71, 83);
    /* color: black; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
}

.nav-item {
    text-align: center;
}

.nav-item:hover {
    color: grey;
}

/* Banner */

#banner {
    /* position: relative; */
    width: 100%;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
}

#banner-container {
    position: relative;
    margin-right: 100px;
    /* display: flex; */
}

#gunther-banner {
    /* position: absolute; */
    left:200px;
    max-width: 12%;
    height: auto;
}

#banner-name {
    width: 50%;
    margin-right: 0px;
}

/* Main Body */
#main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: slategray;
}

/* Content */

#content-container {
    display: flex;
    width: 100%;
    /* padding: 15px; */
    justify-content: space-evenly;
    /* margin: auto; */
}

#contact-container {
    display: none;
}
#post-container {
    width: 70%;
    padding: 15px;
    background-color:rgb(59, 71, 83);
    /* color: rgb(162, 162, 162); */
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: slategray; */
    padding: 5px;
    border: 2px solid black;
    margin: auto;
    width: 80%
}

.post-title {
    font-size: 44px;
    text-decoration: underline;
}

.post-content {
    font-size: 18px;
}

.post-image {
    width: 50%;
    height: auto;
    margin: auto;
}

#link-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 20%;
}

.link-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

/* Calendar */

#calendar-container {
    display: none;
    /* justify-content: center; */
}

#calendar-header {
    width: 925px;
    display: flex;
    margin: auto;
    /* justify-content: center; */
}

#current-month {
    text-align: center;
}

.day-header {
    width: 115px;
    height: 35px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}
/* OG values for CAL are 720px for cal main and 100x100 for square */
#calendar-main {
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    /* width: 80%; */
    width: 925px;
    height: 500px;
    margin-bottom: 100px;
    /* background-color: white; */
}

.day-square {
    /* margin: auto; */
    /* margin: 2px; */
    width: 130px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    font-size: 24px;
    text-align: right;
}

.day-square > p {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.calendar-event {
    width: 90%;
    margin: auto;
    color: rgb(70, 75, 84);
    font-size: 18px;
}


/* Calendar Event Modal */

#calendar-event-modal {
    position: absolute;
    top: 0px;
    display: none;
    width: 100%;
    height: 1000px;
    padding-top: 150px;
    background-color: rgba(0,0,0,0.7);
}

.event-details {
    margin: auto;
    width: 200px;
    height: auto;
    padding: 10px;
    color: black;
    border: 1px solid black;
    background-color: white;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -125px;
}

.event-detail-title {
    text-decoration: underline;
}

.event-image {
    width: 100px;
    height: auto;
}

.close-modal {
    width: 2rem; 
}

.close-modal:hover {
    color: rgb(183, 193, 208);
    background-color:rgb(70, 75, 84)
}

/* About */

#about-container {
    display: none;
}