* {
    box-sizing: border-box;
}

html {
    margin: 0;
    min-height: 100%;
}

body {
    /* min-height: 100vh; */
    background-color: rgb(185, 185, 240);
    /* height: 100vh; */
    min-height: 100%;
}
/* Containers */

#container-index {
    display: flex;
    margin: 25px;  
    align-items: center;
}

#container-frontpage-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color:rgb(185, 185, 240);
    justify-content: space-evenly;
}

#container-games-page {
    display: flex;
    justify-content: center;
}

.main {
    padding-top: 50px;
}
/* Frontpage */

.jumbotron {
    display: flex;
    background-image: url('images/storefront.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: contain;
    margin: 25px;
    height: 400px;
    /* height: 700px; */

    width: 100%;
}

.logo-link {
    margin:5px;
    width: 345x;
    height: 215px;
    padding: 10px;
}


/* General Page structure */

.page-header {
    text-align: center;
}
/* Random */

.login {
    justify-content: flex-end;
}

